.HomePageSytyles {
  margin-top: 100px;
}
.HomePageSytyles .topHead {
  font-size: 39px;
  letter-spacing: 4px;
}
.HomePageSytyles .MainHead {
  font-size: 158px;
  font-family: "Dancing Script";
  position: relative;
  color: white;
  margin-top: -30px;
  font-weight: bold;
}
.HomePageSytyles .MainHead span {
  position: relative;
  display: block;
}
.HomePageSytyles .MainHead::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 66%;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 99% 100%, 2% 100%);
          clip-path: polygon(0 0, 100% 0, 99% 100%, 2% 100%);
  background-color: #ff5fa3;
  z-index: 0;
}
.HomePageSytyles .BtmHead {
  background-color: #8dc8c4;
  font-size: 43px;
  -webkit-clip-path: polygon(3% 0, 100% 0, 99% 100%, 0 100%);
          clip-path: polygon(3% 0, 100% 0, 99% 100%, 0 100%);
  margin-top: -41px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 23px;
}
.HomePageSytyles .desc {
  font-size: 20px;
  font-weight: 200;
  margin-top: 20px;
}
.HomePageSytyles .read,
.HomePageSytyles .start {
  padding: 7px 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: black;
  margin-top: 25px;
  font-size: 19px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.HomePageSytyles .read span,
.HomePageSytyles .start span {
  position: relative;
  z-index: 1;
}
.HomePageSytyles .read::before, .HomePageSytyles .read::after,
.HomePageSytyles .start::before,
.HomePageSytyles .start::after {
  position: absolute;
  content: "";
  transition: 0.3s;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.HomePageSytyles .read:hover::before,
.HomePageSytyles .start:hover::before {
  top: 0;
}
.HomePageSytyles .read:hover::after,
.HomePageSytyles .start:hover::after {
  left: 0;
}
.HomePageSytyles .read {
  background-color: white;
  margin-right: 20px;
}
.HomePageSytyles .read::after {
  background-color: #ff5fa3;
  left: 100%;
  top: 0;
}
.HomePageSytyles .start {
  border: 2px solid black;
}
.HomePageSytyles .start::before {
  background-color: #8dc8c4;
  top: 100%;
  left: 0;
}
.HomePageSytyles .ImageCard {
  display: flex;
}
.HomePageSytyles .ImageCard .img1,
.HomePageSytyles .ImageCard .img2 {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomePageSytyles .ImageCard .img1 img,
.HomePageSytyles .ImageCard .img2 img {
  position: relative;
  z-index: 3;
}
.HomePageSytyles .ImageCard .img1::before, .HomePageSytyles .ImageCard .img1::after,
.HomePageSytyles .ImageCard .img2::before,
.HomePageSytyles .ImageCard .img2::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.HomePageSytyles .ImageCard .img2::before {
  background-color: #81b8b4;
  width: 480px;
  height: 480px;
  z-index: 1;
}
.HomePageSytyles .ImageCard .img1::before {
  background-color: #8dc8c4;
  height: 380px;
  width: 380px;
  z-index: 2;
}
@media (max-width: 1600px) {
  .HomePageSytyles .MainHead {
    font-size: 135px;
  }
  .HomePageSytyles .BtmHead {
    margin-top: -35px;
  }
}
@media (max-width: 1400px) {
  .HomePageSytyles .MainHead {
    font-size: 114px;
  }
  .HomePageSytyles .BtmHead {
    margin-top: -30px;
  }
}
@media (max-width: 1200px) {
  .HomePageSytyles .topHead {
    font-size: 33px;
  }
  .HomePageSytyles .MainHead {
    font-size: 92px;
    margin-top: -14px;
  }
  .HomePageSytyles .BtmHead {
    margin-top: -24px;
  }
  .HomePageSytyles .ImageCard .img1::before {
    height: 330px;
    width: 330px;
  }
  .HomePageSytyles .ImageCard .img2::before {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 767px) {
  .HomePageSytyles {
    margin-top: 40px;
  }
  .HomePageSytyles .topHead {
    font-size: 26px;
  }
  .HomePageSytyles .MainHead {
    font-size: 80px;
  }
  .HomePageSytyles .MainHead::before {
    left: -26px;
  }
  .HomePageSytyles .BtmHead {
    font-size: 30px;
    margin-top: -21px;
  }
  .HomePageSytyles .ImageCard {
    margin-top: 35px;
  }
  .HomePageSytyles .ImageCard .img1::before {
    height: 210px;
    width: 210px;
  }
  .HomePageSytyles .ImageCard .img2::before {
    width: 204px;
    height: 204px;
    background-color: #ff5fa3;
  }
}/*# sourceMappingURL=HomePage.module.css.map */